@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
}