.container {
display: flex;
flex-direction: row;
border: solid black 2px;
padding: 30px;
justify-content: center;
align-items: center;




}

.list {
    // list-style: none;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    float: right;
    
}

.button{
    padding: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        color: orange;
    }
}

