.container {
    border-radius: 20px;
    padding: 10px;
    width: 800px;
    border: solid black 2px;
    height: 100%;
}

.listContainer ul {
    list-style: none;
}



.listContainer li{

    background: #E7E8EA;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    max-width: 90%;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    &:hover {
        box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
        transform: translateY(-3px);
        cursor: pointer;
    }
}

.completed {
    background: orange;
    color: red;
}
.body-color {
    background:red;
    color: orange;
}

.yo {
   text-decoration: line-through;
   color: gray;
}




// .primaryBtn {
//     color: white;
//  font-family: 'Space Grotest, sans-serif';
//  border: none;
//  background: #1B98FF;
//  padding: 1rem 2rem;
//  margin: 1rem 0;
//  font-size: 1rem;
//  border-radius: 5px;
//  outline: 0;
//  cursor: pointer;
//  transition: all 0.3s ease 0s;
//  &:hover {
//      box-shadow: 0px 15px 20px rgba(255,255,255,0.4);
//      transform: translateY(-3px);
//  }
// }

// .secondaryBtn {
//     color: white;
//     background: #DA0415;
//     font-family: 'Space Grotest, sans-serif';
//     border: none;
//     padding: 1rem 2rem;
//     margin: 1rem 0;
//     font-size: 1rem;
//     border-radius: 5px;
//     outline: 0;
//     cursor: pointer;
//     transition: all 0.3s ease 0s;
//     &:hover {
//         box-shadow: 0px 15px 20px rgba(255,255,255,0.4);
//         transform: translateY(-3px);
//     }
// }

